# Exclude all
*

# Include

!/Makefile
!/README.md

!.editorconfig
!.gitignore
!**/.gitignore

!/assets

!/config/**/*.{png,terminal}
!/config/**/*.jpg
!/config/**/*.zip

!/cron
!/dist
!/etc
!/lib
!/setup
!/templates
