# Ignore all
/*

# Explicit ignore -- Commonly ignored extensions
**/.DS_Store
**/*.bak
**/*.tmp
**/*.orig

# Explicit ignore -- Ignore all "dot" (hidden) files
**/.*

# Include

# include the following "dot" (hidden) files
!/.editorconfig
!/.gitignore

!/Makefile
!/README.md

!/assets

!/config/**/*.{png,terminal}
!/config/**/*.jpg
!/config/**/*.zip

!/cron
!/dist
!/etc
!/lib
!/setup
!/templates
