# Exclude
.DS_Store
*.bak
*.orig
*.log
*.lock.json

*.heic
*.jpg
*.zip

/dist
/private
/bin
/Tools
/Data
/Backup
/logitune
/Relocated*

/.*
**/.git-*

# Include
!.editorconfig
!.gitignore

!/config/**/*.jpg
!/config/**/*.zip
